* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background: red;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline-block;
    padding: 50px 20px 0 20px;
}

nav ul li a {
    text-align: right;
    background-color: white;
    padding: 20px 24px;
    vertical-align: middle;
    border-radius: 50%;
}